.ant-btn {
	position: relative;
	display: inline-block;
	outline: 0;
	transition: $btn-transition;
	box-shadow: $btn-shadow;
	border-radius: $btn-radius;
	box-sizing: border-box;

	@include buttonSize($btn-font-size, $btn-height, $btn-padding-h);
	@include buttonType(
		$btn-color,
		$btn-bg,
		$btn-border-color,
		$btn-hover-color,
		$btn-bg,
		$btn-hover-border-color
    );

    &[disabled],
    &.is-disabled {
        cursor: not-allowed;
        @include buttonType($disabled-color, $disabled-bg, $disabled-color, $disabled-color, $disabled-bg, $disabled-color);
	}

	@include buttonGhost($btn-color);
}

.ant-btn-primary {
	@include buttonType($btn-primary-color, $btn-primary-bg);
	@include buttonGhost($btn-primary-bg);
}

.ant-btn-danger {
	@include buttonType(
		$btn-color,
		$btn-bg,
		$btn-border-color,
		$btn-danger-color,
		$btn-bg,
		$btn-danger-color
    );
    
    &.ant-btn-primary {
        @include buttonType($white, $btn-danger-color);
		@include buttonGhost($btn-danger-color);
	}
}

.ant-btn-dashed {
    border-style: dashed;
}

.ant-btn-link {
	@include buttonType($btn-link-color, transparent);
	border-color: transparent;
	box-shadow: none;

	&:hover {
		text-decoration: none;
	}

    &[disabled],
    &.is-disabled {
		cursor: not-allowed;

		&,
		&:hover,
		&:focus {
			border-color: transparent;
			background-color: transparent;
		}
    }
}

.ant-btn-block {
	display: block;
	width: 100%;
}

.ant-btn-large {
	@include buttonSize($btn-lg-font-size, $btn-lg-height, $btn-lg-padding-h);
}

.ant-btn-small {
	@include buttonSize($btn-sm-font-size, $btn-sm-height, $btn-sm-padding-h);
}

.ant-btn-icon {
	margin-top: -3px;
	margin-right: $btn-icon-spacing;
}

@keyframes loadingCircle {
	100% {
		transform: rotate(360deg);
	}
}

.ant-btn-icon-loading {
	animation: loadingCircle 1s infinite linear;
}

.ant-btn-only-icon {
	.ant-btn-icon {
		margin-right: 0;
	}
}
