@mixin buttonType(
	$color,
	$bg,
	$border-color: $bg,
	$color-hover: lighten($color, 10%),
	$bg-hover: lighten($bg, 10%),
	$border-color-hover: $bg-hover
) {
	color: $color;
	background-color: $bg;
	border: 1px solid $border-color;

	&:hover,
	&:focus {
		outline: 0;
		color: $color-hover;
		background-color: $bg-hover;
		border-color: $border-color-hover;
	}
}

@mixin buttonGhost($color) {
	&.ant-btn-ghost {
		&,
		&:hover,
		&:focus {
			color: $color;
			background-color: transparent;
		}
	}
}
