@mixin buttonType(
	$color,
	$bg,
	$border-color: $bg,
	$color-hover: lighten($color, 10%),
	$bg-hover: lighten($bg, 10%),
	$border-color-hover: $bg-hover
) {
	color: $color;
	background-color: $bg;
	border: 1px solid $border-color;

	&:hover,
	&:focus,
	&.ant-btn-loading {
		outline: 0;
		color: $color-hover;
		background-color: $bg-hover;
		border-color: $border-color-hover;
	}

	&.ant-btn-loading {
		pointer-events: none;
	}
}

@mixin buttonGhost($color) {
	&.ant-btn-ghost {
		&,
		&:hover,
		&:focus {
			color: $color;
			background-color: transparent;
		}
	}
}

@mixin buttonSize($font, $height, $padding-h) {
	font-size: $font;
	height: $height;
	line-height: $height;
	padding: 0 $padding-h;

	&.ant-btn-round {
		border-radius: $height;
	}

	&.ant-btn-circle {
		border-radius: 50%;
	}

	&.ant-btn-only-icon {
		padding: 0;
		width: $height;
		height: $height;
	}
}
